article, aside, blockquote, body, button, code, dd, details, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, input, legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
    font-size: 12px;
    color: #666;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

.top {
    height: 64px;
    width: auto;
    background: #2DB7F5;
    color: #fff;
    padding-top: 16px;
    padding-left: 15px;
    border-bottom: 1px solid #e9e9e9;
}

.left {
    width: 230px;
    background: #fff;
    position: absolute;
    overflow: auto;
}

.right {
    margin-left: 229px;
    background: #fff;
    padding: 10px 0px 5px 25px;
    width: 1150px;
    border-left: 1px solid #e9e9e9;
    min-height: 640px;
}

.ant-menu-item > a:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    content: '';
}

ul.temp {
    list-style: none;
    padding: 0px
}

ul.temp li {
    width: 20%;
    height:20px;
    float: left;
}

.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}